.content .wrapper {  
    display: flex;
    width: 100%;
    height: 400px; 
    align-items: center;  
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    flex-direction: row;
}
.content div{
    width: 226px;
    height: 280px;
    align-items: center;
    justify-content: center;

}
.content div img{
    width: 150px;
    height:140px ;
    position: relative;
    top:20px;
    left: 30px;    
}
.content .wrapper{
    max-width: 100%;
    margin: auto;
}

.content2 .wrapper{
    margin: auto;
    width: 100%;
    height: 200px;
    background-color: cadetblue;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
.content2 .wrapper{
    margin: auto;
    border: 2px solid green;

}
.content2  .btn{
   display: flex;
   align-items: center;
   flex-direction: column;

}

.content2 .txt{
    border: 2px solid rosybrown;
    height: 50%;
}
.content3{
    width: 100%;
    position: relative;
    top:60px;
    border: 2px solid grey;
    height: 600px;
}

 .innerdiv{
   
     display: flex;
    flex-direction: row; 
    /* justify-content: space-around;
    justify-content: space-between; */
     
} 

.content3 .wrapper .innerdiv{
    border: 2px solid brown;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
   height: 500px;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    
}
 .parent1{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    flex-direction: column;
    
}  
.childstrt{
    width: 200px;
    height: 200px;
    
}
.parent2{
    display: flex;
    justify-content: center;
}
.child-center{
    width: 200px;
    height: 200px;
    display: flex;
    align-self: center;

}
.parent3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
}
.child-bottom{
    width: 200px;
    height: 200px;
}


/* .content3 .wrapper.innerdiv .child1 img{
     align-self: flex-start;
}

.content3 .childbottom .childbottom img{
    align-self: flex-end;
} */




